name: Deploy

on:
  push:
    branches:
      - main   # change if you want a different branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/${{ secrets.SERVER_USER }}/serverfiles/garrysmod/addons/integral
            git pull git@github.com-integral:citruskb/integral.git
